/* *{
  border: 2px solid red;
} */

body {
  background: linear-gradient(to bottom, #ae83ee, #8c4aee, #24144b);
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-shadow: 
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000, /* Contorno de 2px para todas as direções */
  0px  0px 6px #000; /* Um leve blur para suavizar o contorno */
}

.score {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.playerScore, .pcScore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.match {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent; /* Remove cor de fundo */
  border: none; /* Remove o contorno */
  padding: 0; /* Remove preenchimento */  
  cursor: pointer; /* Mantém o comportamento de clique */
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-shadow: 
  -4px -4px 0 #000,  
   4px -4px 0 #000,
  -4px  4px 0 #000,
   4px  4px 0 #000, /* Contorno de 2px para todas as direções */
  0px  0px 6px #000; /* Um leve blur para suavizar o contorno */
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

img {
  height: 100px;
}

.match img {
  height: 200px;
}

#playerHand {
  transform: scaleX(-1);
}

@keyframes bouncePlayer {
  0%, 100% {
    transform: translateY(0) scaleX(-1); 
  }
  25% {
    transform: translateY(-20px) scaleX(-1);
  }
  50% {
    transform: translateY(0) scaleX(-1);
  }
  75% {
    transform: translateY(-10px) scaleX(-1);
  }
}

@keyframes bounceComputer {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
}

.bounce-animation-player {
  animation: bouncePlayer 0.5s ease-in-out 2;
}

.bounce-animation-computer {
  animation: bounceComputer 0.5s ease-in-out 2;
}
